In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win-loss_records'
webbrowser.open(website)

True

In [13]:
nfl_frame = pd.read_clipboard()

In [14]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,Season,Division
0,1,Dallas,Cowboys,898,512,380,6,0.573,1960,NFC,East
1,2,Chicago,Bears,"1,386",761,583,42,0.564,1920,NFC,North

In [17]:
nfl_frame2 = pd.read_clipboard()

In [18]:
nfl_frame2

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,961,547,408,6,0.572,1960,NFC East
1,2,New England Patriots,957,537,411,9,0.566,1960,AFC East
2,3,Green Bay Packers,"1,408",777,593,38,0.565,1921,NFC North
3,4,Chicago Bears,"1,422",778,602,42,0.562,1920,NFC North
4,5,Miami Dolphins,857,472,381,4,0.553,1966,AFC East

In [23]:
nfl_frame2.columns

Index([u'Rank', u'Team', u'GP', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Division'],
      dtype='object')

In [22]:
nfl_frame2.Team

0          Dallas Cowboys
1    New England Patriots
2       Green Bay Packers
3           Chicago Bears
4          Miami Dolphins
Name: Team, dtype: object

In [25]:
nfl_frame2['First NFL Season']

0    1960
1    1960
2    1921
3    1920
4    1966
Name: First NFL Season, dtype: int64