In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
arr = np.array([[1,3,np.nan],[np.nan,3,4]])

In [3]:
dframe1 = DataFrame(arr,index=['A','B'],columns=['one','two','three'])

In [4]:
dframe1

   one  two  three
A  1.0  3.0    NaN
B  NaN  3.0    4.0