In [4]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from numpy.random import randn

In [5]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [11]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [12]:
ser3 = Series(['USA','Mexico','Canada'],index = [0,5,10])

In [13]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [26]:
ranger = np.arange(15)

In [29]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [32]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                                            columns=['col1','col2','col3','col4','col5'])

In [33]:
dframe

       col1      col2      col3      col4      col5
A  2.050760 -0.823435  1.877972 -1.097059 -1.584652
B  0.122708 -0.202193  0.521082  1.347949 -0.085634
D  0.640814  0.376903 -0.952265  0.941462  0.075907
E  0.475174 -0.040076  0.288302  0.992444 -1.695086
F -1.162594 -1.822717  1.741266 -0.932841  0.877748

In [34]:
dframe2 = dframe.reindex(['A','B','C','D','F'])

In [39]:
dframe2

       col1      col2      col3      col4      col5
A  2.050760 -0.823435  1.877972 -1.097059 -1.584652
B  0.122708 -0.202193  0.521082  1.347949 -0.085634
C       NaN       NaN       NaN       NaN       NaN
D  0.640814  0.376903 -0.952265  0.941462  0.075907
F -1.162594 -1.822717  1.741266 -0.932841  0.877748

In [40]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [41]:
dframe2.reindex(columns=[new_columns])

  col1 col2 col3 col4 col5 col6
A  NaN  NaN  NaN  NaN  NaN  NaN
B  NaN  NaN  NaN  NaN  NaN  NaN
C  NaN  NaN  NaN  NaN  NaN  NaN
D  NaN  NaN  NaN  NaN  NaN  NaN
F  NaN  NaN  NaN  NaN  NaN  NaN

In [42]:
dframe

       col1      col2      col3      col4      col5
A  2.050760 -0.823435  1.877972 -1.097059 -1.584652
B  0.122708 -0.202193  0.521082  1.347949 -0.085634
D  0.640814  0.376903 -0.952265  0.941462  0.075907
E  0.475174 -0.040076  0.288302  0.992444 -1.695086
F -1.162594 -1.822717  1.741266 -0.932841  0.877748

In [44]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

C:\Users\ColinMcLaughlinCrowd\Anaconda2\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

       col1      col2      col3      col4      col5  col6
A  2.050760 -0.823435  1.877972 -1.097059 -1.584652   NaN
B  0.122708 -0.202193  0.521082  1.347949 -0.085634   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.640814  0.376903 -0.952265  0.941462  0.075907   NaN
E  0.475174 -0.040076  0.288302  0.992444 -1.695086   NaN
F -1.162594 -1.822717  1.741266 -0.932841  0.877748   NaN